nav.navbar.navbar-default {
    margin-bottom: 0;
  }
  
  .empNav {
    display: flex;  
    background-color: #282c34;
    border-bottom: #61dafb;
    border-bottom-width: thick;
    border-bottom-style: solid;
    height: 50px;
    margin-top: 1px;
    justify-content: unset !important;
  }
  .empNav a {
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    padding: 18px;
  }

  .empNav a :hover {
    color: #f15975;
    text-decoration: none;
  }

  .nav-item {
      margin: 15px;
  }

  .empNav a.active {
      color: #f15975
  }
  